body html{
    margin: 0;
    padding: 0;
}

.backgrounding{
    background-image:url("../img/frontpage.jpeg"); 
    background-size: cover;
    background-position:center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}   
/*                                          */
.container
{
	margin-top: 10%;
}